* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.inpt-btn {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .input {
  height: 45px;
  margin-right: 5px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 500;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.wrapper .input:hover {
  background-color: rgba(162, 211, 226, 0.342);
  border-color: rgb(125, 125, 207);
  transition: 0.5s;
}

.wrapper button {
  height: 45px;
  width: 80px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  border: 1px solid black;
  font-size: 20px;
}

.wrapper button:hover {
  background-color: #026a8d;
  color: white;
  transition: 0.5s;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1px 10px;
  margin: 10px;
  height: 200px;
  width: 240px;
  border: 3px solid rgb(2, 106, 141);
  background-color: lightsteelblue;
  border-radius: 10px;
}

.block p {
  line-height: 2.5;
  font-size: 18px;
}
